.banner {
  background: url("https://userscontent2.emaze.com/images/0eef9522-a2e1-442b-88ff-52f00c48c281/96672dcdb6d6d4ae53a0c1141a694b80.jpg") no-repeat center center;
  padding-top: 20%;
  padding-bottom: 20%;
  color: rgb(255, 255, 255);
}
